.wrapper-scroll {
    overflow-y: auto;
    padding-top: 20px;
    z-index: 5;
    position: fixed;
    top: 60px;
    bottom: 0;
    width: 310px;
    background-color: #ffffff;
}

.wrapper {
    z-index: 5;
    width: 310px;
    padding: 20px 0 26px 0;
    margin-left: -8px;
    display: flex;
    flex-direction: column;
}

.menu {
    margin-bottom: 8px;
}

.login {
    position: relative;
    padding: 20px 8px 24px 8px;

    &::before {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        top: 0;
        height: 1px;
        background: rgba(22, 24, 35, 0.12);
    }
}

.title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 16px;
    line-height: 22px;
}

.btn {
    margin-top: 20px;
    min-width: 200px;
    min-height: 48px;
}
